<p>Description: <%= @study_post.description %></p>
<p>Date: <%= @study_post.date %></p>
<p>Study Time: <%= @study_post.study_time %></p>

<p>Posted by: <%= @study_post.u_name %> </p >

<%  if authorized_to_edit?(@study_post) %>
    <a href="/study_posts/<%= @study_post.id%>/edit" >Edit</a>
    <br><br>
    <form class = "delete" action="/study_posts/<%= @study_post.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE" >
    <input type="submit" class="btn btn-full" name="" value="Delete" >
    </form>
<% end %>

